.dialogList {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: rgba(116, 172, 224, 0.877);
  padding-top: 10px;
}

.dialogList:hover {
  background-color: rgba(164, 202, 236, 0.61);
  border-right: 4px solid rgba(253, 253, 253, 0.692);
}

.dialogList:hover a {
  color: gold;
}

.avatar img {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}

.userName {
  margin: auto 0;
}
.userName a {
  text-decoration: none;
  color: white;
}
