.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background: rgba(253, 253, 253, 0.692);
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.dialog {
  padding-left: 10px;
}

.messages {
  padding: 10px;
}

.message {
}
