.dialogsBlock {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 11fr 1fr;
  background: rgba(253, 253, 253, 0.692);
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.messages {
  padding: 10px;
}
