.messages {
  padding: 10px;
}

.messageBlock {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background: rgba(253, 253, 253, 0.692);
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 15px;
}

.avatar img {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}
.userName {
  margin: auto 0;
}
.userName a {
  text-decoration: none;
  color: rgb(102, 93, 224);
}

.userBlock {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.message {
  margin: auto 0;
  padding: 20px;
}
